node_modules
.DS_Store
tmp/**/*
.idea
.idea/**/*
*.iml
_site
*.sublime-*
_site
dist/
coverage/
*.js.html
.mailmap
component.json
debug/local/
yarn.lock
*.log
.eslintcache

hub/.vitepress/dist
hub/.vitepress/cache

# Generated plugin index files
hub/plugins/**/index.md
hub/plugins/plugins-index.md
